<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "
        http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangshibiao.spring.model.User">
    <resultMap id="UserMap" type="com.wangshibiao.spring.model.User">
        <id property="id" column="id" />
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <cache />
    <select id="getUserByUserName" parameterType="string" resultMap="UserMap" useCache="true">
        SELECT *
        FROM user  WHERE username = #{username}
    </select>
</mapper>